<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Uploading</title>
</head>

<body>
    <h1>Uploaded Images</h1>
    <div>
        <% items.forEach(function(image) { %>
        <div>
            <div>
                <img src="data:image/<%=image.image.contentType%>;base64,
                     <%=image.image.data.toString('base64')%>">
                <div>
                    <h3><%= image.userID %></h3>
                    <h4><%= image._id %></h4>
                    <h4><%= image.date %></h4>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</body>

</html>